body{
    background-color: rgb(255, 255, 255);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
}

div{
background-color: pink;
  height: 200px;
  width: 200px;
}