*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.voice-element {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: #333;
  color: white;
  border-radius: 6px;
  transition: 0.2s;
}
