*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

#start{
    background: #90e8f0;
    padding: 12px;
    border-radius: 40px ;
    width: 80px;
    height: 40px;
}

#canvas{
    width: 1600px;
    height: 700px;
    background-color: rgb(66, 33, 33);
}

.Box{
    width: 100px;
    height: 100px;
    padding: 12px;
    border-radius: 12px;
    background-color: #acf231;
    text-align: center;
}