 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
 }
 
 body{
    background-color: black;
 }

 html,
body {
  height: 100%;
  width: 100%;
}

 main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom ,rgb(26,26,26),rgb(30,30,30),black);
    padding: 20px;
 }

 section{
    height: 100%;
    width: 350px;
    background-color: black;
    border-radius: 10px;
    margin: auto;
    /* overflow: hidden; */
 }

 .all-reels{
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
 }

 .all-reels::-webkit-scrollbar{
    display: none;
 }

 .reel{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: aqua;
    border-radius: 12px;
    color: aliceblue;
    margin-bottom: 20px;
    scroll-snap-align:start ;
    scroll-snap-stop: always;
    /* overflow: hidden; */
 }

 #main-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }

 .reel .bottom{
    padding: 30px 20px;
    background: linear-gradient(rgba(0,0,0,0)rgba(0,0,0,0.8444));
    width: 100%;
    position: absolute;
    bottom:0
 }

 .bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
 }

 .bottom .user img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
 }

 .bottom>h3{
    font-size: 18px;
    font-weight: 400;
 }

 .bottom .user h4{
    font-size: 16px;
    font-weight: 500;
 }

 .bottom .user button{
    color: aliceblue;
    background-color: transparent;
    padding: 2px 4px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid black;
 }

 .right{
    width: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 27px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 12%;
    /* transform: translateX(100%); */

 }

 .right i {
    font-size: 20px;
    font-weight: 500;
 }

 .right h6{
    font-size: 14px;
    font-weight: 500;
 }

 .right > div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .right h4{
    cursor: pointer;
 }